*{
      margin-top: 5px;
      /* background: #5c7c89; */
      /* background: #6892a1; */
      background-color: #333333;
}

.container{
    width: 100%;
    margin: 0;
    height: 100vh; 
    /* background: #5a9ca1; */
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
   
    
}
.calculator{
   
    padding: 20px;
    border-radius: 10px;


}
form{
    margin: 0;
    
}
.calculator form input{
    border: 0;
    
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #180202;
    cursor: pointer;
    margin: 10px;
}


form .display{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
 
}
form input.operator{
    /* color: #33ffd8; */
    color: #d35400;
}

.con{
    border: 1px solid;
    border-radius: 25px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;

}
form input.num{
    color: green;
}
form input.de{
    color: red;
}
form input.ac{
    color: yellow;
}